#buscador{
    margin-right: 1650PX;
    width: 600px;
    height: auto;
}
#botonBuscador{
    margin-right: 1650PX;
    height: auto;
}
#texto{
    text-align: center;
}

#portatil{
    color: black;
}

#texto{
    background-color: black;
}

.icono{
    font-size: 30px;
}